@value notosans from './common/typography.css';

/*
 * Add any global styles here
 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  height: 100%;
  background: #3B424C;
  font-family: comfortaa;
  font-weight: normal;
  font-smoothing: antialiased;
}
.productTile {
	list-style: none;
}