@import url(https://fonts.googleapis.com/css?family=Comfortaa|Noto+Sans);

@value notosans: 'Noto Sans', Helvetica, Arial, sans-serif;
@value comfortaa: 'Comfortaa', cursive;;

.heading {
  font-family: comfortaa;
  font-size: 28px;
  font-weight: 700;

  line-height: 48px;
}

.subheading {
  font-family: comfortaa;
  font-size: 21px;
  font-weight: 700;

  line-height: 24px;
}

.normal {
  font-family: notosans;
  font-size: 16px;
  font-weight: 400;

  line-height: 24px;
}

.small {
  font-family: notosans;
  font-size: 12px;
  font-weight: 400;

  line-height: 24px;
}