.header {
  composes: heading from '../common/typography';
  text-align: center;
}

.description {
  composes: normal from '../common/typography';
  width:100vw;
height:100%;
overflow:hidden;
}

.description video {
    position: absolute;
    left: 50%;
    min-width: 100vw;
    width: auto;
    z-index: 0;
    margin-top:40px;
    top:350px;
    min-height:100vh;
    height:100%;
    transform: translateX(-50%) translateY(-42%);
 background: url('http://res.cloudinary.com/drjw5ga79/video/upload/v1473470889/My_Movie_torstp.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
@media (min-width: 1900px) {
.description video {
    width:2500px;
    height:2500px;
  }
}
.contribute {
  composes: small from '../common/typography';
}

.description h2 {
    color: #F2F2F2;
  /*position: fixed;
      top:350px;
    transform: translateX(50%) translateY(50%);
    height:100%;*/
  display: inline-block;
    height: 100%;
    margin-top:350px;
    width: 100%;
    text-shadow: 2px 2px 7px hsla(0, 12%, 35%, 1);
    font-size:36px;
        transform: translateX(25%) ;
	min-height:350px;
    position:relative;
font-family:comfortaa;

}
.description h2:after {
	background:#000;
	opacity: 0.5;
}
.description h2 a{
	color:#fff;
}
.bodyText{
	background:#fff;
	width:100vw;
	position:relative;
	padding:2.5rem;
}
.card-grey {
	  composes: media-object from '../common/foundation.min';

	border:1px solid #ccc;
	padding:15px;
	width:100vh;
	background:#3B424C;
}
section {
	margin-top:15px;
}
.card-grey h2 {
	color:#fff;
}
.card-white {
	border:1px solid #ccc;
	padding:15px;
	width:100vh;
	background:#f3f3f3;
}

.headingQuoteLine {
	composes: heading from '../common/typography';
    margin:15px 0 15px 0;
    font-style: italic;
    color:hsla(0, 0%, 80%, 1);
    font-size: 32px;
    margin-left: -2px;
    line-height: 1.15;
    letter-spacing: -.02em;
}

.messageTitle {
  background:hsla(60, 100%, 10%, 0.2);
  float:left;
}
