@value font-medium from '../settings.css';
@value notosans from '../common/typography.css';


.Search {
padding-top: 300px;
border-top:1px solid red;
background:red !important;
}
.bodyText {
    composes: bodyText from '../common/layout';
    padding-top:150px;
 }
 .searchInput {
  width:500px;
  padding:15px;
  font-family: notosans;
  margin-bottom:15px;
 }